@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.logo {
    /* font-size: px; */
    /* font-weight: 90; */
    font-family: "Montserrat", sans-serif;
}

.nav-bar {
    display: flex;
    height: 50px;
    text-align: center;
    align-items: center;
    background-color: red;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 10px;
}

form {
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-evenly;
}

form .search {
    height: 2em;
    width: 40%;
    align-self: left;
}

.result-panel {
    color: black;
    min-height: 100vh;
    background-image: url('./cool-background.png');
    text-align: center;
    align-items: center;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-item {
    margin: 8px;
    align-content: space-between;
    border: 10px solid white;
}

.nodata-animation {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, ■#000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: rgba(255, 255, 255, 0); */
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

footer {
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
}